# Load the MovieLens dataset (you can download it from https://grouplens.org/datasets/movielens/)
# For this example, we'll use the small dataset

In [3]:
import pandas as pd
movies=pd.read_csv('ml-latest-small/movies.csv')
ratings=pd.read_csv('ml-latest-small/ratings.csv')
print(movies.head())
print(ratings.head())

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

# shape

In [4]:
print(ratings.shape)
print(movies.shape)

(100836, 4)
(9742, 3)

# join df

In [5]:
movie_ratings=pd.merge(ratings,movies,on='movieId')
print(movie_ratings.shape)
movie_ratings.head()

(100836, 6)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

# User-Item matrix

In [6]:
user_movie_ratings=movie_ratings.pivot_table(index='userId',columns='title',values='rating')
user_movie_ratings.tail()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [13]:
user_movie_ratings=user_movie_ratings.fillna(0)
user_movie_ratings.tail()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.5,3.5,0.0,0.0,0.0
609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,...,0.0,4.0,3.5,3.0,0.0,0.0,2.0,1.5,0.0,0.0

# calculate cosine similarity between users

In [12]:
from sklearn.metrics.pairwise import cosine_similarity
user_similarity=cosine_similarity(user_movie_ratings)
print(user_similarity)
print(user_similarity.shape)

[[1.         0.02728287 0.05972026 ... 0.29109737 0.09357193 0.14532081]
 [0.02728287 1.         0.         ... 0.04621095 0.0275654  0.10242675]
 [0.05972026 0.         1.         ... 0.02112846 0.         0.03211875]
 ...
 [0.29109737 0.04621095 0.02112846 ... 1.         0.12199271 0.32205486]
 [0.09357193 0.0275654  0.         ... 0.12199271 1.         0.05322546]
 [0.14532081 0.10242675 0.03211875 ... 0.32205486 0.05322546 1.        ]]
(610, 610)

# Convert the similarity matrix into a DataFrame

In [14]:
user_similarity_df=pd.DataFrame(user_similarity,index=user_movie_ratings.index,columns=user_movie_ratings.index)
user_similarity_df.head(3)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.027283,0.05972,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
2,0.027283,1.000000,0.00000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
3,0.059720,0.000000,1.00000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119

# Collaborative filtering

In [15]:
user_id=1
# Sort similar users based on cosine similarity
similar_users=user_similarity_df.loc[user_id].sort_values(ascending=False).index[1:]
similar_users

Int64Index([266, 313, 368,  57,  91, 469,  39, 288, 452,  45,
            ...
            184, 245, 358, 496, 397, 578, 506, 175, 556, 306],
           dtype='int64', name='userId', length=609)

In [16]:
user_ratings=user_movie_ratings.loc[user_id]
print(user_ratings)

title
'71 (2014)                                   0.0
'Hellboy': The Seeds of Creation (2004)      0.0
'Round Midnight (1986)                       0.0
'Salem's Lot (2004)                          0.0
'Til There Was You (1997)                    0.0
                                            ...
eXistenZ (1999)                              0.0
xXx (2002)                                   0.0
xXx: State of the Union (2005)               0.0
¡Three Amigos! (1986)                        4.0
À nous la liberté (Freedom for Us) (1931)    0.0
Name: 1, Length: 9719, dtype: float64

In [24]:
recommendations=[]
for other_user in similar_users:
    other_user_ratings=user_movie_ratings.loc[other_user]
    print(other_user_ratings)
    # checking if other users rating more than 3 and focus on user rating then return other user rating
    movies_rating=other_user_ratings[(other_user_ratings>3)&(user_ratings==0)] 
    # sorting movies by index
    movies=movies_rating.sort_values(ascending=False).index
    print(movies)
    recommendations.extend(movies)
    if len(recommendations)>10:
        break;
recommendations[:10]

title
'71 (2014)                                   0.0
'Hellboy': The Seeds of Creation (2004)      0.0
'Round Midnight (1986)                       0.0
'Salem's Lot (2004)                          0.0
'Til There Was You (1997)                    0.0
                                            ...
eXistenZ (1999)                              0.0
xXx (2002)                                   0.0
xXx: State of the Union (2005)               0.0
¡Three Amigos! (1986)                        0.0
À nous la liberté (Freedom for Us) (1931)    0.0
Name: 266, Length: 9719, dtype: float64
Index(['2001: A Space Odyssey (1968)', 'Fisher King, The (1991)',
       'Hard-Boiled (Lat sau san taam) (1992)', 'Aliens (1986)',
       'Hunt for Red October, The (1990)', 'Producers, The (1968)',
       'Raising Arizona (1987)', 'Real Genius (1985)', 'Ref, The (1994)',
       'Roger & Me (1989)', 'Ronin (1998)', 'Stripes (1981)',
       'Summer of Sam (1999)', 'This Is Spinal Tap (1984)',
       'Three Kings (1999)', 'Time Bandits (1981)', 'Trainspotting (1996)',
       'True Romance (1993)', 'Unforgiven (1992)', 'Friday (1995)',
       'Heathers (1989)', 'Fish Called Wanda, A (1988)', 'Election (1999)',
       'Austin Powers: The Spy Who Shagged Me (1999)', 'Blade Runner (1982)',
       'Brazil (1985)', 'Casino (1995)', 'Commitments, The (1991)',
       'Crow, The (1994)', 'Dirty Work (1998)', 'Donnie Brasco (1997)',
       'Untouchables, The (1987)', 'Eyes Wide Shut (1999)',
       'Evil Dead II (Dead by Dawn) (1987)',
       'Fear and Loathing in Las Vegas (1998)', 'Doors, The (1991)',
       'Analyze This (1999)', 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
       'Glory (1989)', 'Blade (1998)', 'Trading Places (1983)',
       'Hard Day's Night, A (1964)', 'Thing, The (1982)', 'Ravenous (1999)',
       'Terminator 2: Judgment Day (1991)', 'Christmas Story, A (1983)',
       'Stand by Me (1986)', 'Kingpin (1996)', 'Get Shorty (1995)',
       'Out of Sight (1998)', 'Private Parts (1997)', 'Die Hard (1988)'],
      dtype='object', name='title')

['2001: A Space Odyssey (1968)',
 'Fisher King, The (1991)',
 'Hard-Boiled (Lat sau san taam) (1992)',
 'Aliens (1986)',
 'Hunt for Red October, The (1990)',
 'Producers, The (1968)',
 'Raising Arizona (1987)',
 'Real Genius (1985)',
 'Ref, The (1994)',
 'Roger & Me (1989)']

# Save Model

In [25]:
%%writefile recommendation_63130500113.py
# Function to get movie recommendations for a user
def get_movie_recommendations(user_id,user_similarity_df,user_movie_ratings,n_recommendations):
    similar_users=user_similarity_df.loc[user_id].sort_values(ascending=False).index[1:]
    user_ratings=user_movie_ratings.loc[user_id]
    recommendations=[]
    for other_user in similar_users:
        other_user_ratings=user_movie_ratings.loc[other_user]
        movies_rating=other_user_ratings[(other_user_ratings>3)&(user_ratings==0)]
        movies=movies_rating.sort_values(ascending=False).index
        recommendations.extend(movies)
        if len(recommendations)>n_recommendations:
            break;
    return recommendations[:n_recommendations] # Return top n recommendations

Writing recommendation-63130500113.py

In [27]:
import pickle
# Assuming you already have user_similarity_df and user_movie_ratings defined
# Save data to a file
with open('recommendation_data.pkl','wb') as file:
    data_to_save=[user_similarity_df,user_movie_ratings]
    pickle.dump(data_to_save,file)

# Recommendation system

In [28]:
from recommendation_63130500113 import get_movie_recommendations
import pickle

# Load data back from the file
with open('recommendation_data.pkl','rb') as file:
    user_similarity_df,user_movie_ratings=pickle.load(file)

In [34]:
# Example: Get recommendations for a user
user_id=610
recommendations=get_movie_recommendations(user_id,user_similarity_df,user_movie_ratings,10)
print(f"Top 10 movie recommendations for User {user_id}:")
for movie_title in recommendations:
    print("- "+movie_title)

Top 10 movie recommendations for User 610:
- Gravity (2013)
- Perks of Being a Wallflower, The (2012)
- Serenity (2005)
- Lion King, The (1994)
- Psycho (1960)
- Midnight in Paris (2011)
- Whiplash (2014)
- Deadpool 2 (2018)
- 12 Angry Men (1957)
- Free to Play (2014)