# INT420 : Intro & Data Frame 

## Installations
* https://www.python.org
* https://pypi.org/project/pip  
* https://pypi.org/project/jupyterlab  


### Used Packages
* https://pypi.org/project/numpy 
* https://pypi.org/project/pandas
* https://pypi.org/project/openpyxl
* https://pypi.org/project/matplotlib

## Data sets 
- https://data.go.th/dataset
- https://archive.ics.uci.edu/ml/datasets.php
- https://www.kaggle.com/datasets

## Data Types in Tearm of Stures 
- Structured data 

- Unstructured data 

- Semi-Structured data

# Structured data

In [10]:
import pandas as pd 

data = pd.read_csv("Testdata.csv", sep = ',')
data.head()

   x  y
0  1  4
1  2  6
2  3  9
3  4  1
4  5  5

In [9]:
data = pd.read_csv("https://raw.githubusercontent.com/sahathat/dataSci/main/Bigdata/e-shop-data/e-shop-clothing-2008.csv?token=GHSAT0AAAAAABW4WBQ26DTNH7BFRRY4HH2EYXQ4HCQ", sep = ';')
data.head()

,year,month,day,order,country,session ID,page 1 (main category),page 2 (clothing model),colour,location,model photography,price,price 2,page
0,2008,4,1,1,29,1,1,A13,1,5,1,28,2,1
1,2008,4,1,2,29,1,1,A16,1,6,1,33,2,1
2,2008,4,1,3,29,1,2,B4,10,2,1,52,1,1
3,2008,4,1,4,29,1,2,B17,6,6,2,38,2,1
4,2008,4,1,5,29,1,2,B8,4,3,2,52,1,1

In [5]:
data = pd.read_csv("https://data.go.th/dataset/5b1fb1cf-7ddf-4194-89be-c2658fdcd7a8/resource/152ed762-3c69-465e-a5ae-e592540559d8/download/sars-cov-2-variants-dmsc_290765.csv")
data.head()

,Date_Start,Date_End,B.1.1.7 (Alpha),B.1617.2 (Delta),B.1.351 (Beta),B.1.1.529 (Omicron
0,1/4/2021,20/6/2021,5641,661,38,0
1,21/6/2021,27/6/2021,2218,459,89,0
2,28/6/2021,2/7/2021,1458,721,59,0
3,3/7/2021,9/7/2021,2058,1834,85,0
4,10/7/2021,16/7/2021,1139,2090,111,0

In [6]:

data = pd.read_excel("https://data.go.th/dataset/fd781923-6c64-4cbc-90b8-83ad77c96ecd/resource/8364f303-8f2f-4693-aa0c-2c96dc7cb075/download/-..-65.xlsx")
data.tail()

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

# Unstructured data

In [ ]:
data = pd.read_csv("week01/tweets-data-covid19/covid19_tweets.csv")
data.head()

In [ ]:
texts = data["text"]
texts

In [ ]:
print(texts[0:5])

# Semi-structured data

In [ ]:
#https://www.kaggle.com/datasets/datasnaek/youtube
data = pd.read_json("week01/datajson/GB_category_id.json")
print(data.size)
data.head()

In [ ]:
print(data["items"][0])
data["items"].head()

In [ ]:
print(data["items"][0])

In [ ]:
print(data["items"][0]['snippet'])

In [ ]:
print(data["items"][0]['snippet']['title'])

In [ ]:
data = pd.read_csv("week01/tweets-data-covid19/covid19_tweets.csv")
data.dtypes

## Data Frame

### Checking Data Types

In [ ]:
data = pd.read_csv("week01/tweets-data-covid19/covid19_tweets.csv")
data.dtypes

### Column names

In [ ]:
data.columns

### Dropping

In [ ]:
data2 = data.drop(columns = ["user_verified","is_retweet", "user_name"])
data2.head()

### Column Selecting

In [ ]:
data3 = data[["user_followers","user_friends","user_favourites"]]  
data3.head()

## Operation

In [ ]:
data3.mean()

In [ ]:
data3.max()

## Basic Exploration

In [ ]:
data3.plot()

In [ ]:
data3["user_followers"].plot()

## Grouping

In [ ]:
data.head()

In [ ]:
df = data.groupby("user_location").sum()
df.head(10)