## INT420-491 : Categorical Data Encoding
45-minutes study

### Recap Imputation Missing Values

#### Define Functions

In [4]:
import pandas as pd 
from myFunc import summary_table
import numpy as np
from sklearn.impute import KNNImputer
#pd.set_option('mode.chained_assignment','warn')
# pd.set_option('mode.chained_assignment',None)

In [10]:
def fillna_global_mean(df,col_im):
    m = df[col_im].mean()
    df[col_im] = df[col_im].fillna(m)
    return df

In [33]:
def fillna_group_mean(df,col_im,col_gr):
    for g in df[col_gr].unique():
        m = df[col_im][df[col_gr]==g].mean()
        df[col_im][df[col_gr]==g] = df[col_im][df[col_gr]==g].fillna(m)
    return df

In [12]:
def fillna_global_mode(df,col_im):
    m = df[col_im].mode()[0]
    df[col_im] = df[col_im].fillna(m)
    return df

In [34]:
def fillna_group_mode(df,col_im,col_gr):
    for g in df[col_gr].unique():
        m = df[col_im][df[col_gr]==g].mode()
        df[col_im][df[col_gr]==g] = df[col_im][df[col_gr]==g].fillna(m)
    return df

In [14]:
def fillna_knn(df,k):
    #Homework Do something ...
    imputer = KNNImputer(n_neighbors=k)
    imputer.fit(df)
    df = imputer.transform(df)
    return df

### Read Data

In [5]:
from sklearn.preprocessing import LabelEncoder
df_org = pd.read_csv("data/BigMartSales/train.csv")
df = df_org.copy()
df.head(30)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.100,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
13,FDS46,17.600,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
15,FDP49,9.000,Regular,0.069089,Breakfast,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
16,NCB42,11.800,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
17,FDP49,9.000,Regular,0.069196,Breakfast,54.3614,OUT049,1999,Medium,Tier 1,Supermarket Type1,718.3982
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
22,NCB30,14.600,Low Fat,0.025698,Household,196.5084,OUT035,2004,Small,Tier 2,Supermarket Type1,1587.2672
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
24,FDR28,13.850,Regular,0.025896,Frozen Foods,165.0210,OUT046,1997,Small,Tier 1,Supermarket Type1,4078.0250
25,NCD06,13.000,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080
26,FDV10,7.645,Regular,0.066693,Snack Foods,42.3112,OUT035,2004,Small,Tier 2,Supermarket Type1,1065.2800
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362

### Handle Missing Values

In [27]:
print('Before: ') 
print(summary_table(df))
df = fillna_global_mean(df, 'Item_Weight')
df = fillna_global_mode(df, 'Outlet_Size')
print('After: ') 
print(df.head(30)["Item_Weight"])
print(df.head(30)["Outlet_Size"])

Before:
Empty DataFrame
Columns: [is Na, %]
Index: []
None
After:
0      9.300000
1      5.920000
2     17.500000
3     19.200000
4      8.930000
5     10.395000
6     13.650000
7     12.857645
8     16.200000
9     19.200000
10    11.800000
11    18.500000
12    15.100000
13    17.600000
14    16.350000
15     9.000000
16    11.800000
17     9.000000
18    12.857645
19    13.350000
Name: Item_Weight, dtype: float64
0     Medium
1     Medium
2     Medium
3     Medium
4       High
5     Medium
6       High
7     Medium
8     Medium
9     Medium
10    Medium
11     Small
12    Medium
13     Small
14      High
15     Small
16    Medium
17    Medium
18    Medium
19     Small
Name: Outlet_Size, dtype: object

In [50]:
print('Before: ') 
print(summary_table(df))
df = fillna_group_mean(df, 'Item_Weight','Item_Type')
print('After: ') 
print(df.head(30)["Item_Weight"])

Before:
             is Na      %
Outlet_Size   2410  28.28
Item_Weight   1463  17.17
None
After:
0      9.300000
1      5.920000
2     17.500000
3     19.200000
4      8.930000
5     10.395000
6     13.650000
7     12.987880
8     16.200000
9     19.200000
10    11.800000
11    18.500000
12    15.100000
13    17.600000
14    16.350000
15     9.000000
16    11.800000
17     9.000000
18    11.400328
19    13.350000
20    18.850000
21    12.277108
22    14.600000
23    12.277108
24    13.850000
25    13.000000
26     7.645000
27    11.650000
28     5.925000
29    12.305705
Name: Item_Weight, dtype: float64
0     Medium
1     Medium
2     Medium
3        NaN
4       High
5     Medium
6       High
7     Medium
8        NaN
9        NaN
10    Medium
11     Small
12    Medium
13     Small
14      High
15     Small
16    Medium
17    Medium
18    Medium
19     Small
20      High
21    Medium
22     Small
23     Small
24     Small
25       NaN
26     Small
27      High
28       NaN
29     Small
Name: Outlet_Size, dtype: object

## Encoding Categorical Data

### Handle Categorical Data by **Replacing values**
label as the given values

In [6]:
# 'Outlet_Size'
print(df['Outlet_Size'].unique())
# 'Small'==>2, 'Medium'=>5, 'High'==> 10

df['Outlet_Size'][df['Outlet_Size']=='Small'] = 2
df['Outlet_Size'][df['Outlet_Size']=='Medium'] = 5
df['Outlet_Size'][df['Outlet_Size']=='High'] = 10

# To do assign value is na of outlet size equal global mean of outlet size 
df['Outlet_Size'][df['Outlet_Size'].isna()] = df['Outlet_Size'].mean()

df['Outlet_Size']

['Medium' nan 'High' 'Small']

C:\Users\Window10\AppData\Local\Temp\ipykernel_6852\1290471061.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Outlet_Size'][df['Outlet_Size']=='Small'] = 2
C:\Users\Window10\AppData\Local\Temp\ipykernel_6852\1290471061.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Outlet_Size'][df['Outlet_Size']=='Medium'] = 5
C:\Users\Window10\AppData\Local\Temp\ipykernel_6852\1290471061.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Outlet_Size'][df['Outlet_Size']=='High'] = 10
C:\Users\Window10\AppData\Local\Temp\ipykernel_6852\1290471061.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Outlet_Size'][df['Outlet_Size'].isna()] = df['Outlet_Size'].mean()

0              5
1              5
2              5
3       4.590381
4             10
          ...
8518          10
8519    4.590381
8520           2
8521           5
8522           2
Name: Outlet_Size, Length: 8523, dtype: object

### Handle Categorical Data by **Label Encoding**
label as $0$ to $n-1$ where $n$ is the number of categories.

In [7]:
#'Item_Type'
df[['Item_Type']].head()

lb_maker = LabelEncoder()
df['Item_Type'] = lb_maker.fit_transform(df['Item_Type'])
df[['Item_Type']].head() # binary label
print(lb_maker.classes_) # list

['Baking Goods' 'Breads' 'Breakfast' 'Canned' 'Dairy' 'Frozen Foods'
 'Fruits and Vegetables' 'Hard Drinks' 'Health and Hygiene' 'Household'
 'Meat' 'Others' 'Seafood' 'Snack Foods' 'Soft Drinks' 'Starchy Foods']

In [61]:
lb_maker.inverse_transform(df['Item_Type']) # array

array(['Dairy', 'Soft Drinks', 'Meat', ..., 'Health and Hygiene',
       'Snack Foods', 'Soft Drinks'], dtype=object)

### Handle Categorical Data by **One-Hot encoding**
generate $n$ columns with 0/1 where $n$ is the number of categories.

In [8]:
df = pd.get_dummies(df, columns=['Item_Fat_Content','Outlet_Type'], 
                    prefix = ['Item_Fat_Content','Outlet_Type'])

df

,Item_Identifier,Item_Weight,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Item_Outlet_Sales,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,FDA15,9.300,0.016047,4,249.8092,OUT049,1999,5,Tier 1,3735.1380,0,1,0,0,0,0,1,0,0
1,DRC01,5.920,0.019278,14,48.2692,OUT018,2009,5,Tier 3,443.4228,0,0,1,0,0,0,0,1,0
2,FDN15,17.500,0.016760,10,141.6180,OUT049,1999,5,Tier 1,2097.2700,0,1,0,0,0,0,1,0,0
3,FDX07,19.200,0.000000,6,182.0950,OUT010,1998,4.590381,Tier 3,732.3800,0,0,1,0,0,1,0,0,0
4,NCD19,8.930,0.000000,9,53.8614,OUT013,1987,10,Tier 3,994.7052,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,0.056783,13,214.5218,OUT013,1987,10,Tier 3,2778.3834,0,1,0,0,0,0,1,0,0
8519,FDS36,8.380,0.046982,0,108.1570,OUT045,2002,4.590381,Tier 2,549.2850,0,0,1,0,0,0,1,0,0
8520,NCJ29,10.600,0.035186,8,85.1224,OUT035,2004,2,Tier 2,1193.1136,0,1,0,0,0,0,1,0,0
8521,FDN46,7.210,0.145221,13,103.1332,OUT018,2009,5,Tier 3,1845.5976,0,0,1,0,0,0,0,1,0
8522,DRG01,14.800,0.044878,14,75.4670,OUT046,1997,2,Tier 1,765.6700,0,1,0,0,0,0,1,0,0

### Handle Categorical Data by **Binary Encoding**
generate binary encoded vector, the number of columns = $\log_2 n$

In [65]:
df['Outlet_Location_Type'].unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [11]:
import category_encoders as ce
encoder = ce.BinaryEncoder(cols=['Outlet_Location_Type'])
df = encoder.fit_transform(df)
df

KeyError: 'Outlet_Location_Type'